body {
  display:inline;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: large;
}

#grid-container {
  display: grid;
  column-count: 1;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}

.header { 
  grid-column-start: 1;
  grid-row: 1;
  font-size:x-large;
  color: rgba(82, 85, 94, 0.986);
};

.piano {
  display:inline;
  width: 100%;
  grid-column-start: 1;
  grid-row: 2;
}


.footer { 
  grid-column-start: 1;
  grid-row: 3;
  font-size:x-small;
  color: black;
};

#kbd {
  width: 800px;
height: 100px;

padding: 1%;
flex-flow: column;
display: flex;
flex: 4;
}

#keys {
display: flex;
flex: 8;
justify-content: center;
}
